@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body,
* {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.btn {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.btn.btn_delete {
    background-color: red;
    color: white;
}

.btn:hover {
    opacity: .7;
}

.container {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    padding: 15px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 50px 0;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__username {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wishlist .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    text-transform: capitalize;
}

.wishlist .item:nth-child(n + 1) {
    background: #15ffad80;
}

.wishlist .item:nth-child(2n + 1) {
    background: #d06d8d80;
}

.wishlist .item:nth-child(3n + 1) {
    background: #ff8b0080;
}

.wishlist .item:nth-child(4n + 1) {
    background: #cdff1080;
}

.wishlist .item.completed {
    background: #77777780;
    opacity: .5;
}

.wishlist .item.completed .item__title {
    text-decoration: line-through;
}

.wishlist .item.item_add {
    justify-content: center;
    background: none;
    border: 1px solid black;
}

.wishlist .item.item_add .btn {
    width: 100%;
    line-height: 1;
}

.wishlist .item__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wishlist .item__buttons .btn {
    line-height: 1.2;
    filter: drop-shadow(3px 3px 0 gray);
}

.overlay {
    display: none;
}

.overlay.active {
    position: fixed;
    height: 100dvh;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: block;
    z-index: 1;
}

.modal {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.modal.active {
    display: block;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
}

.modal__content {
    width: 100%;
    height: 100%;
    padding: 40px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.modal__label {
    font-size: 0.8rem;
    font-style: italic;
}

.modal__btn {
    background: #15ffad80;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 980px) {
    .container {
        max-width: 680px;
    }

    .users {
        gap: 30px;
    }
}

@media screen and (max-width: 760px) {
    .container {
        max-width: 500px;
        padding: 0 20px;
    }

    .users {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    }
}